@import url("https://v1.fontapi.ir/css/Vazir");
@import "node_modules/ngx-popperjs/css/theme-white.css";

html {
    font-size: 62.5%;

    box-sizing: border-box;
}

body {
    font-family: Vazir, sans-serif;
}
