@import url("https://v1.fontapi.ir/css/Vazir");
@import "node_modules/ngx-popperjs/css/theme-white.css";

html {
    box-sizing: border-box;

    font-size: 62.5%;
}

body {
    font-family: Vazir, sans-serif;
}

.custom-node-popover {
    .ant-popover-content {
        margin-inline: -0.5rem;
        margin-block-start: -0.5rem;
        margin-block-end: -1.9rem;

        .ant-popover-arrow {
            margin: -0.5rem;
        }

        .ant-popover-inner {
            border-radius: 0.75rem;

            .ant-popover-inner-content {
                padding: 0;
            }
        }
    }
}
