.full-wrapper {
    background-color: #eeeeee;
    box-shadow: 0 0 5px 0.5px gray;
    border-radius: 0.75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.25rem;
    border-inline-start-width: 0.5rem;
    border-inline-start-style: solid;
    width: 27rem;
    //pointer-events: none;

    .wrapper {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        font-size: 1.25rem;
        padding-block: 0.5rem;

        .more-info {
            font-size: 2rem;
            position: absolute;
            inset-block-start: 0.75rem;
            inset-inline-start: 1rem;
            cursor: pointer;
            transition: opacity;
            transition-delay: 150ms;

            &:hover {
                opacity: 0.75;
            }
        }

        nz-divider {
            height: 7rem;
            background-color: black;
        }

        > span {
            font-size: 6rem;
        }

        .info div {
            padding-block: 0.5rem;
            padding-inline: 1rem;
            text-align: right;

            span {
                font-weight: 600;
            }
        }
    }

    .detail {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-start;
        width: 100%;

        nz-divider {
            height: 0.35rem;
            background-color: #222;
            margin-block: 0.5rem;
        }

        div {
            display: flex;
            flex-direction: row-reverse;
            align-items: flex-start;
            gap: 0.5rem;
            padding-inline: 1rem;

            span {
                padding-block: 0.5rem;
                display: inline-block;
                flex-shrink: 0;

                &.line-height {
                    line-height: 1.25;
                }

                &:nth-child(2) {
                    direction: rtl;
                    flex-shrink: 1;
                    font-weight: 600;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    width: 20rem;
                }
            }
        }
    }
}
